
#new-todo {
  margin: 10px 2px 10px 10px;
  padding: 6px;
}

button {
  padding: 6px;
}

#basket {
  width: 300px;
  margin: 10px 2px 10px 20px;
  padding: 6px;
  font-size: 100%;
  color: rgb(255, 100, 100)
}

#board {
  width: 100%;
  background-color: white;
}
  
span {
  width: 96%;
  display: inline-block;
  border: rgb(160, 160, 160) 1px solid;
  color: black;
  margin: 4px;
  padding: 2px;
  font-size: 66%;
}

#todo {
  width: 33%;
  background-color: white;
  border: rgb(160, 160, 160) 1px solid;
  border-top: red 4px solid;
  color: red;
  float: left;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 auto;
  padding: 8px 0px 8px 0px;
  font-size: 150%;
  overflow: auto;
}

#inprogress {
  width: 33%;
  background-color: #ffffff;
  border: rgb(160, 160, 160) 1px solid;
  border-top: rgb(230, 230, 0) 4px solid;
  color: rgb(230, 230, 0);
  float: center;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 auto;
  padding: 8px 0px 8px 0px;
  font-size: 150%;
  overflow: auto;
}

#done {
  width: 33%;
  background-color: white;
  border: rgb(160, 160, 160) 1px solid;
  border-top: green 4px solid;
  color: green;
  float: right;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 auto;
  padding: 8px 0px 8px 0px;
  font-size: 150%;
  overflow: auto;
}

