#board{
  display:flex;
  justify-content: space-evenly;
}

body{
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

span {
  width: 90%;
  display: inline-block;
  border: black 1px solid;
  margin: 4px;
  padding: 4px;
}

#todo {
  flex: 0 30%;
  background-color: white;
  border: black 1px solid;
  border-top: red 5px solid;
  float: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#inprogress {
  flex:0 30%;
  background-color: #ffffff;
  border: black 1px solid;
  border-top: green 5px solid;
  float: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#done {
  flex: 0 30%;
  background-color: white;
  border: black 1px solid;
  border-top: yellow 5px solid;
  float: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.todo-item{
  padding-right: 33px;
  min-height: 24px;
  position: relative;
}
.delete-button{
  position: absolute;
  top: 5px;
  right: 5px;
}

.wrapper{
  width: 1600px;
  margin: 0 auto;
}

.panel{
  padding-top: 80px;
  display:flex;
  justify-content: center;
  padding-bottom: 25px;
}

.btn{
  margin: 0 5px;
  cursor:pointer;
}