@import url(reset.css);
body {
	margin: 7px;
}
#panels {
	display: grid;
	grid-template: minmax(96vh, auto) / repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}
div[id^='wrapper'] {
	display: grid;
	grid-template: 45px minmax(81vh, auto) 40px / 1fr;
}
.title {
	color: #404040;
	font: bold 25px Arial, sans-serif;
	background: #99ccff;
	border-radius: 8px 8px 0 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.counter {
	height: 45px;
	position: absolute;
	right: 15px;
	top:0;
	display: flex;
	align-items: center;
}
.fa-file {
	position: absolute;
	left: 15px;
	top: 9px;
}
.panel {
	background: #cce6ff;
}
.btns {
	background: #b3d9ff;
	border-radius: 0 0 8px 8px;
	padding: 5px 0;
	display: flex;
}
button, i {
	cursor: pointer;
}
button, textarea, span {
	color: #404040;
	font: 20px Arial, sans-serif;
	border: 3px solid #80bfff;
	border-radius: 8px;
	outline: none;
	display: flex;
}
.fa-minus-circle, .fa-plus-circle {
	color:  #404040;
	font-size: 30px;
	background: #e6f2ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: auto;
}
#form {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}
form {
	width: 30%;
	height: 30vh;
	background: #b3d9ff;
	border: 3px solid #80bfff;
	border-radius: 8px;
	padding: 1%;
	position: fixed;
	left: 33.8%;
	top: 20%;
	display: grid;
	grid-template: auto 30px / 1fr 1fr;
	grid-gap: 5px;
}
textarea {
	resize: none;
	grid-column: 1 / 3;
}
button[type] {
	background: #e6f2ff;
	justify-content: center;
}
span {
  width: 90%;
  background: #e6f2ff;
  justify-content: space-between;
  margin: 5px;
  padding: 5px; 
}
.fa-trash {
	color: #404040;
	margin-top: 1.5px;
}