* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
}

#panel {
  width: 510px; 
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

button {
    padding: 2px;
    height: 25px;

}

#board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;  
  width: 100%;
  background-color: #d4d6d6;
 }

#todo, #inprogress, #done {
  background-color: white;
  overflow: scroll;
  height: calc(100vh - 110px);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 10px;
}

#todo {
    border: 1px solid #a5229b;
}

#inprogress {
    border: 1px solid #17e479;
}

#done {
    border: 1px solid #3e52e4;
}

#todo span {
     border: 1px solid #a5229b;
     box-shadow: 2px 2px 1px 1px #a3b0a3;
 }

#inprogress span {
    border: 1px solid #17e479;
    box-shadow: 2px 2px 1px 1px #a3b0a3;
}

#done span {
    border: 1px solid #3e52e4;
    box-shadow: 2px 2px 1px 1px #a3b0a3;
}

.todo-div {
    background-color: #a5229b;
}

.inprogress-div {
    background-color: #17e479;
}

.done-div {
    background-color: #3e52e4;
}

.common-div {
  overflow: hidden;
  float: left;
  width: 30% 
}

p {
    padding: 1px 0 0 10px;
}

#todo-count, #inprogress-count, #done-count {
    font-size: 15px;
}

.todo-div, .inprogress-div, .done-div {
    height: 60px;
    margin: 0 10px;
    color: white;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 2em;
}

span {
  width: 98%;
  display: inline-block;
  border: #939393 1px solid;
  padding: 4px;
  margin: 4px;
 }

span button {
  float: right;
  margin-left: 5px;
  padding: 3px;
}
