#calculation {
    font-size: 18px;
}

#calculation table{
    border: solid 3px silver; 
    border-spacing: 3px; 
    background-color: #EEE;
}

#calculation table td{
    border-spacing: 3px;
    float: left;
}
input[type=button]{
     border-top: solid 1px silver;
     width: 30px;
     height: 20px;
 }