* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 50px 10px 10px 10px;
    text-align: center;
}

.inputData {
    margin-bottom: 10px;
}

button {
    width: 20px;
    height: 20px;
}

input {
    width: 80px;
    height: 20px;
}
